/* CSS untuk form pencarian */
.form-control-navbar {
    border: none;
    border-radius: 50px; /* Mengubah bentuk input field menjadi oval */
    background-color: #232931;
    color: #eee;
    padding: 15px 30px; /* Menambahkan padding untuk membuat input field lebih besar */
    font-size: 18px; /* Menyesuaikan ukuran teks */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    width: 600px; /* Menyesuaikan lebar input field */
}

/* Efek hover untuk input field */
.form-control-navbar:hover {
    background-color: #344955;
}

/* CSS untuk tombol pencarian */
.btn-navbar {
    border: none;
    border-radius: 50px; /* Mengubah bentuk tombol menjadi oval */
    background-color: #4ecca3;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 15px 30px; /* Menambahkan padding untuk membuat tombol lebih besar */
    font-size: 18px; /* Menyesuaikan ukuran teks */
    transition: background-color 0.3s;
    width: 50px; /* Menyesuaikan lebar tombol */
}

/* Efek hover untuk tombol pencarian */
.btn-navbar:hover {
    background-color: #3bb78f;
}

/* Transisi untuk animasi hover */
.btn-navbar:hover i {
    transform: scale(1.2); /* Memperbesar ikon saat dihover */
}
